# Windows image file caches 
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
*.dist
*.gif
*.htm
*.html
*.jpg
*.lock
*.log
*.md
*.phps
*.png
*.prefs
*.sh
*.txt
*.yml
*.zip

includes/
logs/
phpmailer/
swiftmailer/

.apdisk
.AppleDB
.AppleDesktop
.project
db_creator.php
css/flipclock.css
reg3.php
reg-sample.php
regform-ronan.php
admin-ronan.php
Network Trash Folder
Temporary Items
reg2.php
swiftmail-test.php
mail-test.php
ui-sampler.php
"includes/login.php"
"includes/login-live.php"

localization/l10n (2).js
localization/l10n (3).js
localization/l10n-test (2).php
localization/l10n-test.php
localization/l10n-test (3).php
localization/locales (2).ini
*.ini
localization/l10n.js
*.js
*.eot
*.woff
*.svg
*.otf
*.ttf
CodeIgniter-3.0.6/user_guide/_static/css/citheme (2).css
*.iml
*.xml
*.ids
*.jar
